.container{
    width: 75%;
    margin: auto;
    
}

.assignment-tasks{
    display: flex;
    flex-wrap: wrap;
}

.assignment-box{
    box-shadow: 0px 0px 7px rgb(156, 156, 156);
    width: 400px;
    height: 280px;
    padding: 20px;
    font-size: 14px;
    margin: 20px 20px;
    position: relative;
}
.assignment-box h2{
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.assignment-box-start{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #D6F7E7;
    padding: 10px;
    box-shadow: 0px 0px 3px rgb(85, 85, 85);
}

.history-tasks table tr:nth-child(1){
    font-size: 20px;
}

.history-tasks table tr:nth-child(1) td{
    border-bottom: 1px solid black;
    background-color: rgb(231, 231, 231);
}

.history-tasks table{
    margin: auto;
    background-color: #D6F7E7;
    padding: 20px;
}
.history-tasks table tr{
    background-color: white;
}
.history-tasks table tr td{
    border: 1px solid black;
    
    padding: 10px;
}