@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}


main{
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
}

main .container{
    display: flex;
    margin-top: 50px;
}

#main-title{
    flex:3;
    margin-right: 30px;
}

.main-text p{
    font-family: 'Montserrat', 'sans-serif';
}
.image-box{
    flex:2;
}

.image-box img{
    width: 400px;
    
}